---
import type { Post } from "../types/post";
import base from "../lib/base";

interface Props {
    post: Post;
}

const { post } = Astro.props;
---



<header class="flex flex-col mb-8  gap-6">

	<a class="font-medium leading-[120%] tracking-[1.6px] uppercase text-(length:--label) text-(--color-text-secondary) hover:text-(--color-text-primary)" href={`${base}/`}>← Back to stories</a>

	<figure class="w-full max-h-80 overflow-hidden">
		<img class="w-full h-120 object-cover" src={post.coverImage.src} alt={post.coverImage.alt} />
	</figure>

	<h1 class="font-bold text-(length:--heading-h2) text-(--color-text) leading-[110%]">{post.title}</h1>

	<footer class="flex flex-col lg:flex-row lg:items-center leading-[1.3] gap-x-2 font-medium text-(length:--label) text-(--color-text-secondary)">
		<time class="uppercase" datetime={post.publishedAt}>
			{new Date(post.publishedAt + 'T12:00:00').toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}
		</time>
		<span class="hidden lg:inline" aria-hidden="true">·</span>
		<span class="uppercase">{post.readingTime} min rea</span>
	</footer>

</header>