---
import type { Post } from "../types/post";

interface Props {
  post: Post;
  base: string;
  isFeatured?: boolean;
}

const { post, base, isFeatured = false } = Astro.props;
---

<article
  class="
    bg-(--color-background)
    rounded-(--space12)
    overflow-visible

    transition-transform
    transition-shadow
    duration-200

    flex
    flex-col
    h-full

    hover:-translate-y-[4px]
    hover:shadow-[0_8px_24px_rgba(0,0,0,0.4)]
  "
>
  <a
    href={`${base}/posts/${post.slug}`}
    class="
      no-underline
      text-inherit

      flex
      flex-col
      h-full

      rounded-(--space4:4px)

      focus-visible:outline
      focus-visible:outline-2
      focus-visible:outline-(--color-accent-blue)
      focus-visible:outline-offset-4
    "
  >
    <figure
      class="
        flex-1
        min-h-0
        overflow-hidden
      "
    >
      <img
        src={post.coverImage.src}
        alt={post.coverImage.alt}
        loading="lazy"

        class="
          w-full
          h-full
          object-cover
          block
        "
      />
    </figure>

    <div
      class="
        flex
        flex-col

        gap-[0.3rem]

        px-(--space16)
        py-(--space12)
      "
    >
      <footer
        class="
          flex
          gap-(--space4)

          mt-(--space4)

          
          text-(--color-text-secondary)
        "
      >
        <time datetime={post.publishedAt}>
          {
            new Date(post.publishedAt + "T12:00:00").toLocaleDateString(
              "en-US",
              {
                year: "numeric",
                month: "long",
                day: "numeric",
              }
            )
          }
        </time>

        <span>·</span>

        <address class="not-italic">
          {post.author}
        </address>
      </footer>

      <h2
        class:list={[
          `
            text-(--color-text)

            font-[600]

            leading-[1.4]
          `,
         ]}
      >
        {post.title}
      </h2>

      <p
        class="
          line-clamp-1

          text-(--color-text-muted)

          text-(--color-text)
        "
      >
        {post.excerpt}
      </p>

      <span
        class="
          hidden
          lg:inline
          text-(--color-accent-gold)
        "
      >
        Read story →
      </span>
    </div>
  </a>
</article>
